.practice {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 98vw;
  justify-content: center
}

.conteo {
  font-size: 170px;
  font-weight: 400;
  color: rgb(145, 142, 128);
  font-family: sans-serif;
}

.pizza_container {
  width: 98vw;
  height: 43vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza {
  margin: 10px;
  border: 2px solid rgb(98, 111, 80);
  width: 14vw;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.249);
  background-color: rgba(75, 71, 50, 0.3);
  min-width: 200px;
}

.nombre_container {
  background-color: rgba(97, 110, 74, 0.785);
  height: 60px;
  text-align: center;
  align-content: center;
  color: rgb(234, 233, 228);
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.btn_container {
  margin: 10px;
  height: 40px;
  width: 60vw;
  padding: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  height: 45px;
  width: 180px;
  color: whitesmoke;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgb(97, 110, 74);
  border: 1px solid rgba(159, 159, 159, 0.445);
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
  transition: 0.7s;
}

.selected_ingredient_container {
  color: antiquewhite;
  font-size: medium;
  font-family: sans-serif;
  font-size: 20px;
}

.selected_ingredient {


}

.selected_ingredient_name {
  height: 30px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.249);
  visibility: hidden;
}

.ingrediente {
  padding: 5px;
  color: rgb(248, 246, 246);
  margin-bottom: 10px;
  margin-top: 5px;
  text-decoration: none;
  list-style: none;
  height: 25px;
  background-color: rgba(97, 110, 74, 0.438);
  display: flex;
  align-content: center;
}

.cuadro {
  height: 20px;
  margin-left: 5px;
  width: 20px;
  border-radius: 100%;
}

.carnes {
  background-color: rgb(212, 179, 136);
  visibility: visible;
  color: black;

}

.tomates {
  background-color: rgba(223, 13, 13, 0.852);
  color: rgb(252, 247, 241);
  visibility: visible;

}

.quesos {
  background-color: rgba(69, 166, 245, 0.849);
  visibility: visible;
  color: black;

}

.pescados {
  background-color: rgba(41, 41, 178, 0.904);
  color: rgb(252, 247, 241);
  visibility: visible;
}

.especias {
  background-color: rgba(189, 143, 6, 0.966);
  visibility: visible;
  color: black;

}

.vegetales {
  background-color: rgba(49, 167, 49, 0.521);
  visibility: visible;
  color: rgb(252, 247, 241);


}

.pastas {
  background-color: rgb(250, 250, 5);
  color: black;
  visibility: visible;
}

.cremas {
  background-color: rgb(245, 245, 242);
  visibility: visible;
  color: black;
}


/* Media query para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
  .practice {
    padding: 0;
    width: auto;
    height: auto;
    flex-direction: column;
  }

  .conteo {
    font-size: 120px;
  }

  .pizza_container {
    height: auto;
    width: auto;
    flex-wrap: wrap;
  }

  .pizza {
    width: 40%;
    height: 260px;
    min-width: 150px;
  }

  .nombre_container {
    font-size: 16px;
    height: 46px;
  }

  .btn_container {
    margin: 5px;
    height: auto;
    padding: 5px;
  }

  button {
    width: 120%;
    font-size: 15px;
    width: auto;
  }

  .restart {
    width: 110px;
    height: 25px;
    font-size: 13;
  }

  .ingrediente {
    margin-bottom: 4px;
    font-size: 13px;
    height: 15px;
  }

  .cuadro {
    height: 13px;
    width: 13px;
  }

  .btn_container {
    width: 96vw;
  }
  .selected_ingredient_container {
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .selected_ingredient {
    font-size: 15;
    align-items: center;
  }

  .selected_ingredient_name {
    height: 20px;
    padding: 3px;
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 3px;
  }
}
