
app-header {
  width: 100vw;
  height: 6vh;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.224);

}

app-main {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 56vh;
  background-color: rgba(75, 71, 50,0.95);
  /* background-image: url(../assets/cajas.jpg); */


}

app-sidebar {
  /* background-color: green; */
  background-color: rgba(75, 71, 50, 0.95);
  height: 38vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  /* align-items: center; */



}

.main_wrapper {
  background:  url('../assets/cajas.jpg');
  background-size: cover;
  background-position: center;

}

/* app-main, app-sidebar {
  background: none;
} */
