
<div class="categoria">
    <div class="ingrediente_container">
      <span class="ingrediente tomates" *ngFor="let item of ingredients.tomates" (click)="selectIngredient(item)">{{ item }}</span>
    </div>
    <div class="ingrediente_container">
      <span class="ingrediente cremas" *ngFor="let item of ingredients.cremas" (click)="selectIngredient(item)">{{ item }}</span>
    </div>
    <div class="ingrediente_container ">
      <span class="ingrediente quesos" *ngFor="let item of ingredients.quesos" (click)="selectIngredient(item)" >{{ item }}</span>
    </div>
    <div class="ingrediente_container ">
      <span class="ingrediente carnes" *ngFor="let item of ingredients.carnes" (click)="selectIngredient(item)">{{item}}</span>

    </div>
    <div class="ingrediente_container ">
      <span class="ingrediente pescados" *ngFor="let item of ingredients.pescados" (click)="selectIngredient(item)">{{item}}</span>
    </div>
    <div class="ingrediente_container ">
      <span class="ingrediente especias" *ngFor="let item of ingredients.especias" (click)="selectIngredient(item)">{{item}}</span>
    </div>
    <div class="ingrediente_container ">
      <span class="ingrediente vegetales" *ngFor="let item of ingredients.vegetales" (click)="selectIngredient(item)">{{item}}</span>
    </div>
    <div class="ingrediente_container ">
      <span class="ingrediente pastas" *ngFor="let item of ingredients.pastas" (click)="selectIngredient(item)">{{item}}</span>
    </div>

</div>
<!--
<div class="categoria">
  <div class="ingrediente_container">
    <span class="ingrediente tomates" *ngFor="let item of ingredients.tomates" (click)="selectIngredient(item)">{{ item }}</span>
  </div>
  <div class="ingrediente_container">
    <span class="ingrediente cremas" *ngFor="let item of ingredients.cremas" (click)="selectIngredient(item)">{{ item }}</span>
  </div>
  <div class="ingrediente_container">
    <span class="ingrediente quesos" *ngFor="let item of ingredients.quesos" (click)="selectIngredient(item)">{{ item }}</span>
  </div>
  <div class="ingrediente_container">
    <span class="ingrediente carnes" *ngFor="let item of ingredients.carnes" (click)="selectIngredient(item)">{{item}}</span>
  </div>
  <div class="ingrediente_container">
    <span class="ingrediente pescados" *ngFor="let item of ingredients.pescados" (click)="selectIngredient(item)">{{item}}</span>
  </div>
  <div class="ingrediente_container">
    <span class="ingrediente especias" *ngFor="let item of ingredients.especias" (click)="selectIngredient(item)">{{item}}</span>
  </div>
  <div class="ingrediente_container">
    <span class="ingrediente vegetales" *ngFor="let item of ingredients.vegetales" (click)="selectIngredient(item)">{{item}}</span>
  </div>
  <div class="ingrediente_container">
    <span class="ingrediente pastas" *ngFor="let item of ingredients.pastas" (click)="selectIngredient(item)">{{item}}</span>
  </div>
</div> -->


